# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environment
env/
venv/
ENV/
venv.bak/
venv-*/

# pip files
*.pip
*.pyo

# Installers
*.deb
*.dmg
*.exe
*.msi
*.apk
*.rpm
*.iso
*.jar
*.war

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Environment variables
.env
.env.*.local

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace

# Logs
logs/
*.log
*.out
*.err

# Django stuff
*.pot
*.pyc

# Flask stuff
instance/
.webassets-cache

# Local database
*.sqlite3
db.sqlite3

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Pytest
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm specific
*.iml
*.ipr
*.iws

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
.pylint.d/
